<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin's page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_parameter" th:content="${_csrf.parameterName}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

    <nav id="adminNavBarBody" class="navbar navbar-dark bg-dark w-100" style="display: none;"> <!-- полоска сверху с данными администратора -->
    </nav> <!-- конец полоски админа -->
    <nav id="fallbackNavBar" class="navbar navbar-dark bg-dark w-100" style="display: none;"><!-- полоска сверху без данных администратора -->
    </nav> <!-- конец полоски админа -->

    <div class="container-fluid px-0"> <!-- контейнер-->
        <sec:authorize access="hasRole('ROLE_ADMIN')">
            <div style="background-color: #f2f2f2;"><!-- начало блока данных администратора-->

                <div class="row" style="background-color: white; height: 100vh; max-width: 100%;"> <!-- сетка -->

                    <div class="col-2" style="padding-right:0;"> <!-- 2 ячейки из 12 под две вкладки слева -->
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="margin-top:15px;">
                            <a class="nav-link active" id="vertical-tab-admin-edit" data-toggle="pill" href="#content-admin-edit" role="tab" aria-controls="content-admin-edit" aria-selected="true">Admin</a> <!-- pill админа слева -->
                            <a class="nav-link" id="vertical-tab-admin-info" data-toggle="pill" href="#content-admin-info" role="tab" aria-controls="content-admin-info" aria-selected="false">User</a> <!-- pill юзера слева -->
                        </div>
                    </div>

                    <!-- начало вкладок контента -->
                    <div class="col-10" style="background-color: #f2f2f2; padding: 30px 10px 30px 30px;"> <!-- сетка контента справа, серый цвет -->

                        <div class="tab-content" id="v-pills-tabContent"> <!-- начало контента вкладок Admin и User -->

                            <!-- начало области контента для боковой кнопки Admin слева. Две горизонтальных вкладки: список пользователей и создание нового пользователя -->
                            <div class="tab-pane fade show active" id="content-admin-edit" role="tabpanel" aria-labelledby="vertical-tab-admin-edit"> <!-- горизонтальная панель 2х вкладок админа-->
                                <h2>Admin panel</h2>

                                <ul class="nav nav-tabs" id="myTab" role="tablist"> <!-- сами вкладки списка пользователйе и создания нового  -->
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Users table</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="horiz-newUserTab" data-toggle="tab" href="#content-newUserTab" role="tab" aria-controls="content-newUserTab" aria-selected="false">New User</a>
                                    </li>
                                </ul>

                                <div class="tab-content" id="myTabContent" style="background-color: white;"> <!-- контент горизонтальных вкладок -->

                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" style="background-color: white;">  <!-- таблица списка пользователей -->

                                        <nav class="navbar navbar-light bg-light" style="background-color: #f2f2f2; border: 1px solid #ccc;">  <!-- серая nav панель All users-->
                                            <a class="navbar-brand" ><strong>All users</strong></a>
                                        </nav>

                                        <div style="padding: 20px; border: 1px solid #ccc;">

                                            <table class="table table-striped">  <!-- таблица списка пользователей -->
                                                <thead>  <!-- оглавление таблицы -->
                                                    <tr>
                                                        <th scope="col">ID</th>
                                                        <th scope="col">First Name</th>
                                                        <th scope="col">Last Name</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Username</th>
                                                        <th scope="col">Role</th>
                                                        <th scope="col">Edit</th>
                                                        <th scope="col">Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="usersTableBody">
                                                <!-- тут подключается userList.js-->

                                                    <!-- тут подключается модалка на edit - editList.js -->
                                                    <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <form id="editUserForm">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                                                                        <button type="button" class="close" data-dismiss="modal">
                                                                            <span>&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <input type="hidden" id="editId" name="id">

                                                                        <div class="form-group">
                                                                            <label for="editFirstName">First Name</label>
                                                                            <input type="text" class="form-control" id="editFirstName" name="firstName">
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="editLastName">Last Name</label>
                                                                            <input type="text" class="form-control" id="editLastName" name="lastName">
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="editEmail">Email</label>
                                                                            <input type="email" class="form-control" id="editEmail" name="email">
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="editUsername">Username</label>
                                                                            <input type="text" class="form-control" id="editUsername" name="username">
                                                                            <small id="editUsernameRequired" class="form-text text-muted">
                                                                                required field
                                                                            </small>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="editPassword">Password</label>
                                                                            <input type="password" class="form-control" id="editPassword" name="password">
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="editRoleIds">Roles</label>
                                                                            <select multiple class="custom-select" id="editRoleIds" name="roleIds" required></select>
                                                                            <small id="editRoleIdsRequired" class="form-text text-muted">
                                                                                required field
                                                                            </small>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- тут подключается модалка на delete -->
                                                    <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <form id="deleteUserForm">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">Delete User</h5>
                                                                        <button type="button" class="close" data-dismiss="modal">
                                                                            <span>&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <fieldset disabled>
                                                                            <input type="hidden" id="deleteUserId" name="id">
                                                                            <div class="form-group">
                                                                                <label>First Name</label>
                                                                                <input type="text" id="deleteFirstName" class="form-control">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label>Last Name</label>
                                                                                <input type="text" id="deleteLastName" class="form-control">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label>Email</label>
                                                                                <input type="email" id="deleteEmail" class="form-control">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label>Username</label>
                                                                                <input type="text" id="deleteUsername" class="form-control">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label>Roles</label>
                                                                                <input type="text" id="deleteRoles" class="form-control">
                                                                            </div>
                                                                        </fieldset>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div> <!-- конец таблицы списка пользователей -->

                                    <div class="tab-pane fade" id="content-newUserTab" role="tabpanel" aria-labelledby="horiz-newUserTab"> <!-- контент нового пользователя -->

                                        <nav class="navbar navbar-light bg-light" style="background-color: #f2f2f2; border: 1px solid #ccc;">  <!-- серая nav панель About new user-->
                                            <a class="navbar-brand font-weight-bold">Add new user</a>
                                        </nav>

                                        <div style="padding: 15px; display: flex; justify-content: center; border: 1px solid #ccc;"> <!--таблица ввода нового пользователя-->
                                                <form id="newUserForm" style="width: 300px; text-align: center;">
                                                    <div class="form-group">
                                                        <label for="firstNameNew" class="font-weight-bold">First name</label>
                                                        <input type="text" id="firstNameNew" class="form-control" required>
                                                        <small id="firstNameField" class="form-text text-muted">
                                                            required field
                                                        </small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="lastNameNew" class="font-weight-bold">Last name</label>
                                                        <input type="text" id="lastNameNew" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="emailNew" class="font-weight-bold">Email</label>
                                                        <input type="email" id="emailNew" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="usernameNew" class="font-weight-bold">Username</label>
                                                        <input type="text" id="usernameNew" class="form-control" required>
                                                        <small id="usernameField" class="form-text text-muted">
                                                            required field
                                                        </small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="passwordNew" class="font-weight-bold">Password</label>
                                                        <input type="password" id="passwordNew" class="form-control" required>
                                                        <small id="passwordField" class="form-text text-muted">
                                                            required field
                                                        </small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="roleIdsNew" class="font-weight-bold">Roles</label>
                                                        <select multiple class="custom-select" id="roleIdsNew" size="2" required>
                                                            <!-- Варианты ролей отрисовываются JS-ом -->
                                                        </select>
                                                        <small id="roleField" class="form-text text-muted">
                                                            required field
                                                        </small>
                                                    </div>
                                                    <button type="submit" class="btn btn-success">Add new user</button>
                                                </form>
                                        </div> <!--конец таблицы ввода нового пользователя-->
                                    </div> <!-- конец контента нового пользователя -->
                                </div> <!-- конец контента горизонтальных вкладок -->
                            </div> <!-- конец области контента для боковой кнопки Admin слева. Две горизонтальных вкладки: список пользователей и создание нового пользователя -->

                            <!-- начало области контента для боковой кнопки User слева -->
                            <div class="tab-pane fade" id="content-admin-info" role="tabpanel" aria-labelledby="vertical-tab-admin-info"> <!-- начало области контента для боковой кнопки User слева -->
                                <h2>User information-page</h2>

                                <nav class="navbar navbar-light bg-light" style="background-color: #f2f2f2; border: 1px solid #ccc;">  <!-- серая nav панель All users-->
                                    <a class="navbar-brand"><strong>About user</strong></a>
                                </nav>

                                <div class="table-responsive" style="background-color: white; padding: 20px; border: 1px solid #ccc;">  <!-- блок информации об администраторе -->
                                    <table class="table table-striped">  <!-- таблица информации об администраторе -->
                                        <thead>  <!-- оглавление таблицы -->
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Username</th>
                                                <th scope="col">Role</th>
                                            </tr>
                                        </thead>
                                        <tbody id="adminInfoBody" >  <!-- тело таблицы информации админа-->
<!--                                        тут подключается adminInfo.js-->
                                        </tbody>
                                    </table>  <!-- окончание таблицы информации об администраторе -->
                                </div> <!-- конец блока информации об администраторе -->
                            </div> <!-- окончание области контента для боковой кнопки User слева -->
                        </div> <!-- конец контента вкладок Admin и User -->
                    </div> <!--   окончание блока контента -->
                </div> <!--   окончание сетки-->
            </div>
        </sec:authorize>
    </div> <!--  конец контейнера -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script src="/js/userList.js"></script>
    <script src="/js/adminInfo.js"></script>
    <script src="/js/newUser.js"></script>
    <script src="/js/deleteUser.js"></script>
    <script src="/js/editUser.js"></script>
</body>
</html>